html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	display: flex;
	width: 100%;
	border-bottom: 3px solid #77a466;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

header h1 {
	margin: 0;
	padding: 15px 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/

.top-section {

}

.top-section,
.bottom-section {
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.main-image {

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {

}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.6em;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two h3 {
	padding: 10px 30px;
}

.section-three h3 {
	padding-top: 10px;
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;

	display: flex;
	justify-content: start;
	align-items: center;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .9em;
}
